.category_element {
    cursor: pointer;
    background: #000;
    border-radius: 20px;
    margin-top: 29px;
    width: 100%;
    height: 178px;
}

.category_element_name {
    display: inline-block;
    background: #fff;
    border-radius: 100px;
    padding: 7px 21px;
    margin-top: 15px;
    margin-left: 21px;
}