.category_element {
    cursor: pointer;
    background: #000;
    border-radius: 20px;
    margin-top: 29px;
    width: 100%;
    height: 178px;
}

.category_element_name {
    display: inline-block;
    background: #fff;
    border-radius: 100px;
    padding: 7px 21px;
    margin-top: 15px;
    margin-left: 21px;
}

.content {
    margin: 0 256px;
}

.categories {
    width: 100%;
    margin-top: 47px;
}

.category_row {
    display: flex;
    justify-content: space-between;
}

.searching_form {
    display: flex;
    align-content: center;
    margin-top: 76px;
}

.searching_form_line {
    display: flex;
    flex-grow: 1;
    align-items: center;
    background: #eff0f5;
    border-radius: 24px;
    padding-right: 16px;
}

.searching_form_line_input {
    font-size: 16px;
    flex-grow: 1;
    width: auto;
    outline: none;
    background: #eff0f5;
    border: none;
    border-radius: 24px;
    min-height: 43px;
    padding-right: 16px;
    padding-left: 25px;
}

.searching_form_line_icon {
    width: 15px;
    height: 15px;
}

.searching_form_sort_button, .searching_form_filter_button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #eff0f5;
    border-radius: 100px;
    width: 43px;
    height: 43px;
    margin-left: 18px;
}

.searching_form_sort_button_icon, .searching_form_filter_button_icon {
    cursor: pointer;
    width: 15px;
    height: 15px;
}

.product {
    display: flex;
    border: 2px solid #eff0f5;
    border-radius: 25px;
    padding: 26px 45px;
    margin-top: 33px;
}

.product_image_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #eff0f5;
    border-radius: 22px;
    min-width: 78px;
    min-height: 78px;
    width: 78px;
    height: 78px;
    padding: 15px;
}

.product_image {
    max-width: 78px;
    max-height: 78px;
}

.product_info {
    margin-left: 65px;
}

.product_vendor {
    color: #626166;
}

.product_info_row {
    margin-top: 11px;
    display: flex;
}

.product_name {
    flex-grow: 1;
    color: #000;
    font-size: 18px;
}

.product_price {
    flex-grow: 2;
    font-size: 18px;
    font-weight: bold;
    align-self: center;
    text-align: end;
    width: 200px;
    padding-left: 45px;
}

.product_nav_element {
    cursor: pointer;
    color: #3500ff;
    margin-right: 27px;
}