.header {
    display: flex;
    justify-content: space-between;
    padding: 26px 129px 0 129px;
}

.header_logo {
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
}

.city_choice {
    display: flex;
}

.city_choice_img {
    align-self: flex-end;
    height: 17px;
    margin-right: -3px;
    margin-bottom: 29px;
}

.city_choice_text {
    cursor: pointer;
    align-self: flex-end;
    text-decoration: underline;
}
.dropdown {
    position: absolute;
    width: 310px;
    height: 340px;
    left: 1473px;
    top: 59px;
}