.product {
    display: flex;
    border: 2px solid #eff0f5;
    border-radius: 25px;
    padding: 26px 45px;
    margin-top: 33px;
}

.product_image_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #eff0f5;
    border-radius: 22px;
    min-width: 78px;
    min-height: 78px;
    width: 78px;
    height: 78px;
    padding: 15px;
}

.product_image {
    max-width: 78px;
    max-height: 78px;
}

.product_info {
    width: 100%;
    margin-left: 65px;
}

.product_vendor {
    color: #626166;
}

.product_info_row_1, .product_info_row_2 {
    display: flex;
    margin-top: 11px;
}

.product_info_row_1 {
    justify-content: space-between;
}

.product_name {
    flex-grow: 1;
    color: #000;
    font-size: 18px;
}

.product_price {
    flex-grow: 2;
    font-size: 18px;
    font-weight: bold;
    align-self: center;
    text-align: end;
    width: 200px;
    padding-left: 45px;
}

.product_nav_element {
    cursor: pointer;
    color: #3500ff;
    margin-right: 27px;
}