.label {
  margin: 0;
  padding: 0;
}

/*@font-face {
  font-family: Google Sans;
  src: url(./assets/fonts/ProductSans-Regular.ttf);
}

@font-face {
  font-family: Google Sans;
  src: url(./assets/fonts/ProductSans-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: Google Sans;
  src: url(./assets/fonts/ProductSans-BoldItalic.ttf);
  font-weight: bold;
  font-style: italic;
}
*/
body {
  font-family: "Google Sans", sans-serif;
  font-size: 14px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 26px 129px 0 129px;
}

.header_logo {
  font-size: 18px;
  font-weight: bold;
  font-style: italic;
}

.city_choice {
  display: flex;
}

.city_choice_img {
  align-self: flex-end;
  height: 17px;
  margin-right: 5px;
}

.city_choice_text {
  cursor: pointer;
  align-self: flex-end;
  text-decoration: underline;
}

.content {
  margin: 0 256px;
}

.categories {
  width: 100%;
  margin-top: 47px;
}

.category_row {
  display: flex;
  justify-content: space-between;
}

.searching_form {
  display: flex;
  align-content: center;
  margin-top: 76px;
}

.searching_form_line {
  display: flex;
  flex-grow: 1;
  align-items: center;
  background: #eff0f5;
  border-radius: 24px;
  padding-right: 16px;
}

.searching_form_line_input {
  font-size: 16px;
  flex-grow: 1;
  width: auto;
  outline: none;
  background: #eff0f5;
  border: none;
  border-radius: 24px;
  min-height: 43px;
  padding-right: 16px;
  padding-left: 25px;
}

.searching_form_line_icon {
  width: 15px;
  height: 15px;
}

.searching_form_sort_button, .searching_form_filter_button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #eff0f5;
  border-radius: 100px;
  width: 43px;
  height: 43px;
  margin-left: 18px;
}

.searching_form_sort_button_icon, .searching_form_filter_button_icon {
  cursor: pointer;
  width: 15px;
  height: 15px;
}

.product {
  display: flex;
  border: 2px solid #eff0f5;
  border-radius: 25px;
  padding: 26px 45px;
  margin-top: 33px;
}

.product_image_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #eff0f5;
  border-radius: 22px;
  min-width: 78px;
  min-height: 78px;
  width: 78px;
  height: 78px;
  padding: 15px;
}

.product_image {
  max-width: 78px;
  max-height: 78px;
}

.product_info {
  margin-left: 65px;
}

.product_vendor {
  color: #626166;
}

.product_info_row {
  margin-top: 11px;
  display: flex;
}

.product_name {
  flex-grow: 1;
  color: #000;
  font-size: 18px;
}

.product_price {
  flex-grow: 2;
  font-size: 18px;
  font-weight: bold;
  align-self: center;
  text-align: end;
  width: 200px;
  padding-left: 45px;
}

.product_nav_element {
  cursor: pointer;
  color: #3500ff;
  margin-right: 27px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #000;
  color: #fff;
  margin-top: 76px;
  padding: 28px 129px;
}

.footer_logo {
  font-size: 18px;
  font-weight: bold;
  font-style: italic;
}

.footer_contact_email {
  margin-top: 3px;
}
